.buy-btn.top-btn {
    background-color: #b154f0  ;
    border-color: #b154f0;
}
.buy-btn:hover {
    background-color: #b154f0  ;
    border-color: #b154f0  ;
}
.demo-item .image::after {
    background-color: #b154f0  ;
}
.demo-item .image i:hover {
    color: #b154f0  ;
}
.stick .buy-btn.top-btn {
    border: 2px solid #b154f0  ;
    color: #fff;
}
.stick .buy-btn {
    border: 2px solid #b154f0  ;
    color: #b154f0  ;
}
.single-feature .icon {
    color: #b154f0  ;
}
.footer-section {
    background-color: #444;
}
.stick .buy-btn:hover {
    color: #fff;
}
.demo-item .title a:hover {
    color: #b154f0  ;
}
.footer-section .buy-btn:hover {
    color: #b154f0  ;
}
.footer-section .buy-btn.bottom-btn {
    color: #fff;
    background-color: #b154f0  ;
    border: 2px solid #b154f0  ;
}
.hero-content h1 strong{
    text-transform: capitalize;
}
.stick .non-sticky {
    display: none;
}
.demo-item {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.demo-item .title {
    padding: 20px 0;
    margin: 0;
}
.float-right a{
    display: inline-block;
}
.hader-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.stick .hader-inner {
    padding: 0;
}

.nav-masys {
    background-color: #181733 !important;
    color: white;
}

.btn-whatsapp-masys{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #25D366; /* Green WhatsApp color */
    color: #ebebeb;
    padding: 13px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
    transition: all 0.2s ease-in-out;
}

.btn-whatsapp-masys:hover{
    bottom: 30px;
    color: white;
    transform: scale(1.2);
}